In [1]:
import pandas as pd
import numpy as np

In [2]:
response={
    "Tim Johnson":"Tim Johnson",
    "genre":"Comedy",
    "runtime":"90-120 minutes",
    "production_company":"Universal Pictures",
    "content_rating":"R"}

In [3]:
response

{'Tim Johnson': 'Tim Johnson',
 'genre': 'Comedy',
 'runtime': '90-120 minutes',
 'production_company': 'Universal Pictures',
 'content_rating': 'R'}

In [4]:
df = pd.read_csv('dim_df.csv')
df

,Unnamed: 0,Michael Lehmann,Tim Johnson,Christopher Miller,Louis Leterrier,Raja Gosnell,Steve Oedekerk,Sidney Lumet,Richard Donner,Joel Coen,...,Yari Film Group,G,NC17,NR,PG,PG-13,R,1.0,2.0,3.0
0,2903,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
1,1840,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
2,2182,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
3,1064,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
4,1534,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3237,3444,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
3238,466,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
3239,3092,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
3240,3772,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
3241,860,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0

In [5]:
data=list(response.items())
response_array=np.array(data)
response_array[1,1]

'Comedy'

In [6]:
if response_array[2,1] == '<=90 minutes':
    response_array[2,1]= response_array[2,1].replace('<=90 minutes','1')
elif response_array[2,1] == '90-120 minutes':
    response_array[2,1] = response_array[2,1].replace('90-120 minutes','2')
else:
    response_array[2,1]=response_array[2,1].replace('>=120 minutes','3')

In [7]:
response_array[2,1]

'2'

In [8]:
response_array[2,1] = float(response_array[2,1])

In [9]:
response_array

array([['Tim Johnson', 'Tim Johnson'],
       ['genre', 'Comedy'],
       ['runtime', '2.0'],
       ['production_company', 'Universal Pictures'],
       ['content_rating', 'R']], dtype='<U18')

In [10]:
dummy_list=[]
for x in df.columns:
    if response_array[0,1] == x:
        dummy_list.append(1)
    elif response_array[1,1] == x:
        dummy_list.append(1)
    elif response_array[2,1] == x:
        dummy_list.append(1)
    elif response_array[3,1] == x:
        dummy_list.append(1)
    elif response_array[4,1] == x:
        dummy_list.append(1)
    else:    
        dummy_list.append(0)

In [11]:
dummy_array=np.array(dummy_list)
dummy_array.sum()

5

In [12]:
df.columns.get_loc('2.0')

490

In [13]:
dummy_array[491]

0

In [14]:
dummy_array

array([0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0])