In [1]:
import pandas as pd
import numpy as np

In [2]:
response={
    "Tim Johnson":"Tim Johnson",
    "Michael Lehmann": "Michael Lehmann",
    "genre":"Comedy",
    "runtime":">=120 minutes",
    "production_company":"Universal Pictures",
    "content_rating":"R"}

In [3]:
response

{'Tim Johnson': 'Tim Johnson',
 'Michael Lehmann': 'Michael Lehmann',
 'genre': 'Comedy',
 'runtime': '>=120 minutes',
 'production_company': 'Universal Pictures',
 'content_rating': 'R'}

In [4]:
df = pd.read_csv('dim_df.csv')
df = df.drop(columns = ['Unnamed: 0'])
df

,Michael Lehmann,Tim Johnson,Christopher Miller,Louis Leterrier,Raja Gosnell,Steve Oedekerk,Sidney Lumet,Richard Donner,Joel Coen,Richard Fleischer,...,Yari Film Group,G,NC17,NR,PG,PG-13,R,1.0,2.0,3.0
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3237,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
3238,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
3239,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
3240,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
3241,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0

In [5]:
data=list(response.items())
response_array=np.array(data)
response_array[1,1]

'Michael Lehmann'

In [11]:
for i in range(0, len(response_array)):
    if response_array[i,1] == '<=90 minutes':
        response_array[i,1]= response_array[i,1].replace('<=90 minutes','1.0')
    elif response_array[i,1] == '90-120 minutes':
        response_array[i,1]= response_array[i,1].replace('90-120 minutes','2.0')
    elif response_array[i,1] == '>=120 minutes':    
        response_array[i,1]= response_array[i,1].replace('>=120 minutes','3.0')

In [12]:
response_array

array([['Tim Johnson', 'Tim Johnson'],
       ['Michael Lehmann', 'Michael Lehmann'],
       ['genre', 'Comedy'],
       ['runtime', '3.0'],
       ['production_company', 'Universal Pictures'],
       ['content_rating', 'R']], dtype='<U18')

In [13]:
dummy_list = np.zeros(len(df.columns))

491

In [19]:
for i in range(0, len(response_array)):
    index = df.columns.get_loc(response_array[i,1])
    dummy_list[index] = 1

In [20]:
dummy_list

array([1., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 1.])